<div class="about-us">
    <div class="about-us-title">
        About us
    </div>
    <div class="about-us-seperator"></div>
    <img src="img/mobile_article_1.png" class="about-us-image">
    <div class="about-us-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto reprehenderit odit amet ipsum impedit ab perferendis, a reiciendis eligendi soluta alias accusantium quam? Commodi quod, quidem aperiam maiores consequuntur voluptas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptatum animi nobis amet. A labore ad illum quae eveniet, soluta totam odit laborum, dolores unde voluptatum tempora magni alias perferendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quas libero voluptatum autem commodi facilis nam voluptates eos necessitatibus, voluptatem odio, totam error voluptas consequuntur reiciendis harum. Cupiditate, aperiam necessitatibus.
    </div>
</div>