<div class="article">
    <div class="article-image am2"></div>
    <div class="article-item-seperator"></div>
    <div class="article-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quam dolores vitae sapiente error quod nihil illo numquam quaerat et, ea quidem natus quae pariatur nesciunt praesentium commodi porro omnis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos molestiae unde dicta explicabo ratione numquam vero soluta fuga assumenda adipisci aspernatur voluptate in, suscipit laboriosam itaque quas repellat. Eius, minus?
    </div>