<div class="article">
    <div class="article-image am3"></div>
    <div class="article-item-seperator"></div>
    <div class="article-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor cupiditate odio aut dignissimos, modi iusto repudiandae consectetur velit quaerat accusantium voluptatem repellendus facilis fugit asperiores itaque corrupti eius ducimus maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut ab, quod consectetur dolorum eum cupiditate necessitatibus? Consequatur vel accusamus incidunt nisi distinctio. Accusantium, dignissimos nobis quo ipsum amet odio?
    </div>
</div>