<div class="article">
    <div class="article-image am1"></div>
    <div class="article-item-seperator"></div>
    <div class="article-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi perspiciatis nam, voluptas facere officiis fuga, quas omnis placeat molestias quasi odio magnam distinctio cumque hic voluptate ratione! Officia, et officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit corrupti illo a ipsa id nam hic cum repudiandae consequatur eius, assumenda perspiciatis fugiat iure ipsam cumque cupiditate aut. Velit.
    </div>
</div>