<div class="article">
    <img src="img/mobile_article_1.png" class="article-image">
    <div class="article-item-seperator"></div>
    <div class="article-description">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe inventore consequatur reiciendis obcaecati mollitia esse blanditiis laboriosam, provident doloribus. Aperiam suscipit hic officia quos tempore quidem ipsa praesentium temporibus nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, mollitia nostrum consequatur esse enim hic, ex ipsa laboriosam iure illum autem sunt minima suscipit accusamus? Temporibus iure repellat ipsam commodi?
    </div>
</div>