<div class="article">
    <div class="article-image am2"></div>
    <div class="article-item-seperator"></div>
    <div class="article-description">
            Let me explain using The Snapshot Universe Model. This considers the universe to be a sum of the masses during all instances (or "snapshots") of time into one body of mass M. Here's an example to better your understanding: Look around you, and remember what everything looks like in one given instant. This is considered to be a snapshot of the universe. The Snapshot Universe Model adds all of those snapshots from all possible times from the beginning of the big bang to the eventual unknown death of the universe into one body of mass M.
    </div>