<div class="article">
    <div class="article-image am3"></div>
    <div class="article-item-seperator"></div>
    <div class="article-description">
        Hello everyone, concerned Christian father here. Recently, my 11 year old son downloaded the video game "Fortnite" after playing it at a friend's house. While I didn't mind at first, it soon began to affect his character. Within a week, he had taken up hard drugs and smoking. When asked to do his homework, he called me a "default" and did a strange dance. His grades have been dropping heavily ever since that day and now he's threatening me with violence. Yesterday I entered his room to see him smoking a cigar and playing extremely loud rave (sinner) music.
    </div>
</div>