<div class="article">
    <div class="article-image am1"></div>
    <div class="article-item-seperator"></div>
    <div class="article-description">
        WHAT’S UP GUYS WE’RE DUDE PERFECT AND THIS IS THE TORTILLA TRICKSHOT CHALLENGE. LETS SEE IF OUR PROFESSIONAL NORDIC BLINDFOLDED PARACHUTING ARCHERY BUDDY CORY CAN ZING THIS THIN CORN DISC RIGHT BETWEEN MY QUIVERING ASSCHEEKS AT 469 YARDS FOR A NEW GUINNESS WORLD RECORD. DON’T FORGET TO FIST THAT SUB BUTTON ELBOW DEEP AND DROP A LIKE.
    </div>
</div>