<div class="content">

    <div class="article-box article-1" onclick="toggleFocus_article_1()">
        <div class="title-card tca-1">
            <h1 class="title-title">Article 1</h1>
            <div class="title-top-seperator"></div>
            <p class="title-misc title-misc-top">XXXX</p>
            <p class="title-misc title-misc-bot">Greek - XX</p>
            <div class="title-seperator ts-1"></div>
            <p class="title-content tc-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos quasi debitis dicta id consectetur, illo ducimus ea vero.</p>
            <a href="article_1.html" class="read-button rb-1">Read ></a>
        </div>
    </div>
    <div class="article-box article-2" onclick="toggleFocus_article_2()">
        <div class="title-card tca-2">
            <h2 class="title-title">Article 2</h2>
            <div class="title-top-seperator"></div>
            <p class="title-misc title-misc-top">XXXX</p>
            <p class="title-misc title-misc-bot">Greek - XX</p>
            <div class="title-seperator ts-2"></div>
            <p class="title-content tc-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos quasi debitis dicta id consectetur, illo ducimus ea vero.</p>
            <a href="www.youtube.com" class="read-button rb-2">Read ></a>
        </div>
    </div>
    <div class="article-box article-3" onclick="toggleFocus_article_3()">
        <div class="title-card tca-3">
            <h3 class="title-title">Article 3</h3>
            <div class="title-top-seperator"></div>
            <p class="title-misc title-misc-top">XXXX</p>
            <p class="title-misc title-misc-bot">Greek - XX</p>
            <div class="title-seperator ts-3"></div>
            <p class="title-content tc-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dignissimos quasi debitis dicta id consectetur, illo ducimus ea vero.</p>
            <a href="www.youtube.com" class="read-button rb-3">Read ></a>
        </div>
    </div>
</div>