<div class="content">
    <div class="article-box">
        <div class="title-card">
            <h1>Title Text</h1>
            <p class="title-misc-top">XXXX</p>
            <p class="title-misc-bot">Greek - XX</p>
        </div>
    </div>
    <div class="article-box">
        <div class="title-card">
            <h1>Title Text</h1>
            <p class="title-misc-top">XXXX</p>
            <p class="title-misc-bot">Greek - XX</p>
        </div>
    </div>
    <div class="article-box">
        <div class="title-card">
            <h1>Title Text</h1>
            <p class="title-misc-top">XXXX</p>
            <p class="title-misc-bot">Greek - XX</p>
        </div>
    </div>
</div>