<div class="content">

    <div class="article-box article-1" onclick="toggleFocus_article_1()">
        <div class="title-card tca-1">
            <h1 class="title-title">11th Avatar Sequel intimidates investors</h1>
            <div class="title-top-seperator"></div>
            <p class="title-misc title-misc-top">2027</p>
            <p class="title-misc title-misc-bot">Omega - 18</p>
            <div class="title-seperator ts-1"></div>
            <p class="title-content tc-1">After having James Cameron's corpse direct the latest 4 Avatar movies that were all released in quick succession after Disney's new "Cow Udder" program</p>
            <a href="article_1.html" class="read-button rb-1">Read ></a>
        </div>
    </div>
    <div class="article-box article-2" onclick="toggleFocus_article_2()">
        <div class="title-card tca-2">
            <h2 class="title-title">Humans threaten "Homo Sapiens"</h2>
            <div class="title-top-seperator"></div>
            <p class="title-misc title-misc-top">2139</p>
            <p class="title-misc title-misc-bot">Alpha - 02</p>
            <div class="title-seperator ts-2"></div>
            <p class="title-content tc-2">Public opinion is lukeworm as species is perceived as gay due to being associated with the word "homosexual".</p>
            <a href="article_2.html" class="read-button rb-2">Read ></a>
        </div>
    </div>
    <div class="article-box article-3" onclick="toggleFocus_article_3()">
        <div class="title-card tca-3">
            <h3 class="title-title">Crime criminilized in Sweden</h3>
            <div class="title-top-seperator"></div>
            <p class="title-misc title-misc-top">2012</p>
            <p class="title-misc title-misc-bot">Delta - 41</p>
            <div class="title-seperator ts-3"></div>
            <p class="title-content tc-3">Swedish politican Annie Lööf who advcoates for the de-leglization of criminal actvitity has finally succeeded in criminlizing crime. </p>
            <a href="article_3.html" class="read-button rb-3">Read ></a>
        </div>
    </div>
</div>