<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <title>Alternatus - Home</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <i class="material-icons md-32" onclick="toggleMenu()">menu</i>
            <h1 class="website-name">Alternatus</h1>
            <i class="material-icons md-32">search</i>
        </header>
        
        <div class="menu">
            <div class="menu-head"></div>
            
            <div class="menu-main">
                
                <div class="menu-edge">
                    <div class="menu-edge-item">
                        <i class="material-icons md-28">equalizer</i>
                        <a href="index.html"class="menu-text">Headlines</a>
                    </div>
                    <div class="menu-edge-item">
                        <i class="material-icons md-28">sentiment_satisfied</i>
                        <h1 class="menu-text">For you</h1>
                    </div>
                    <div class="menu-edge-item">
                        <i class="material-icons md-28">history</i>
                        <h1 class="menu-text">History</h1>
                    </div>
                </div>
                
                <div class="menu-divider"></div>

                <div class="menu-mid">
                    <h1 class="menu-text">Category 1</h1>
                    <h1 class="menu-text">Category 2</h1>
                    <h1 class="menu-text">Category 3</h1>
                    <h1 class="menu-text">Category 4</h1>
                    <h1 class="menu-text">Category 5</h1>
                    <h1 class="menu-text">Category 6</h1>
                </div>
                
                <div class="menu-divider"></div>

                <div class="menu-edge menu-bot">
                    <div class="menu-edge-item">
                        <i class="material-icons md-28">info</i>
                        <a href="about_us.html"class="menu-text">About us</a>
                    </div>
                    <div class="menu-edge-item">
                        <i class="material-icons md-28">language</i>
                        <h1 class="menu-text">Language</h1>
                    </div>
                    <div class="menu-edge-item">
                        <i class="material-icons md-28">feedback</i>
                        <h1 class="menu-text">Feedback</h1>
                    </div>
                    <div class="menu-edge-item">
                        <i class="material-icons md-28">help</i>
                        <h1 class="menu-text">Help</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="fade" onclick="toggleMenu()"></div>
        
        
        <%= yield %>
        
    </div>
    
    <script src="js/main.js"></script>
</body>
</html>