.about-us
    display: flex
    flex-direction: column

    align-self: center
    width: 90vw
    height: 80vh
    background-color: #31394E

    margin-top: 5%

.about-us * 
    margin-left: 30px

.about-us-title
    font-size: 28px
    margin-top: 30px

.about-us-image
    display: none

.about-us-seperator
    margin-top: 10px
    width: 60%
    height: 1px
    background-color: #9B9B9B

.about-us-description
    font-size: 17px
    margin-top: 10px
    margin-right: 15px
    
    width: auto

@media only screen and (min-device-width: 768px)
    .about-us
        width: 50vw !important
        height: 90vh
        margin-left: 35vw
        align-content: center
        align-self: center

    .about-us-image
        display: block
        width: 415px
        height: 259px
        align-self: center
        margin-top: 2%
        border-radius: 15px

    .about-us-title
        font-size: 48px
        margin-left: 10%

    .about-us-seperator
        margin-left: 10%

    .about-us-description
        font-size: 28px
        margin-top: 2%
        text-align: center