.article
    display: flex
    flex-direction: column

    align-self: center
    width: 90vw
    height: 80vh
    background-color: #31394E

    margin-top: 5%

    .article-image
        align-self: center

        width: 75%
        height: 35%

        margin-top: 20px
        border-radius: 15px

    .article-item-seperator
        margin-top: 15px
        align-self: center

        width: 70%
        height: 2px
        background-color: #9B9B9B

    .article-description
        margin: 15px
        margin-left: 20px
        align-self: center