.article
    display: flex
    flex-direction: column

    align-self: center
    width: 90vw
    height: 80vh
    background-color: #31394E
    border-radius: 10px

    margin-top: 5%

.article-image
    align-self: center

    width: 75%
    height: 40%

    margin-top: 20px
    border-radius: 15px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    

.am1
    background-image: url(../img/m_article_1.jpg)

.am2
    background-image: url(../img/m_article_2.jpg)

.am3
    background-image: url(../img/m_article_3.jpg)

.article-item-seperator
    margin-top: 15px
    align-self: center

    width: 70%
    height: 2px
    background-color: #9B9B9B

.article-description
    margin: 15px
    margin-left: 20px
    align-self: center
    overflow: auto
    font-size: 18px

@media only screen and (min-device-width: 768px)
    .article
        width: 50vw
        height: 90vh
        margin-left: 35vw
        align-content: center
        align-self: center

    .article-image
        margin-top: 5%
        width: content-fit

    .article-item-seperator
        margin-top: 4% 

    .article-description
        font-size: 32px 
        margin: 4% 4%
        text-align: center

    .am1
        background-image: url(../img/d_article_1.jpg) !important
        width: 50% !important
    
    .am2
        background-image: url(../img/d_article_2.jpg) !important

    .am3
        background-image: url(../img/d_article_3.jpg) !important